
<Marquee direction = "up"><h2 style="text-align:center;">Credits</h2>

    <h4>Hey there</h4>
    <h4>thanks for sticking around</h4>
    <h4>My name is Shobhit Raj.</h4>
    <h4>I am a College student.
        <h4>This site is created by me with help of Django</h4>
        <h4>I took course on Internet</h4>
        <h4>Yeah of course udemy</h4>
        <h4>I took subscription of Nick Walter</h4>

</Marquee>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>


<a href = "{% url 'home' %}"> Home </a>

hello this is shobhit raj
copyright 2021